
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* body starts */
body{
    background-color:rgb(0,0,0);
    font-family: "Inter", sans-serif;
}
/* body ends */

/* header starts */
.header{
 max-width: 1440px;
 margin: 0 auto;
 width: 99%;
 height: 680px;
 background-color:rgba(33,33,33);
}

/* common style start */
.common{
    color: #FFFFFF;
}
.common-2{
    color: #eee7e7b4;
}
.common-btn{
    background-color: #E6533C;
    font-weight: 400;
    font-size: 1rem;
    width: 13rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
}
.gap{
    margin-bottom: 1.5rem;
}
/* common style end */

/* nav start here */
.navbar{
    width: 85%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.nav-text,.home{
    color: #E6533C;
}
.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 1.5rem;
}
.hamburger{
    display: none;
}
.nav-btn{
    width: 4rem;
    height: 2rem;
    background-color: #E6533C;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

/* nav ends here */

/* banner starts here */
.banner{
    width: 85%;
    margin: 2rem auto;
    display: flex;
    /* border: 2px solid blue; */
    height: 80%;
}

.banner-text{
    font-weight: 500;
    font-size: 3rem;
}

/* banner div1 start */
.banner-div1{
    width: 80%;
    /* margin-right: 6rem; */
}
.banner-btn{
    background-color:black;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    width: 13rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
} 

.banner-div2{
    position: relative;
    width: 50%;
    padding-left: 5rem;
}
.over-btn1{
 position:absolute;
 display: flex;
 justify-content: center;
 align-items:center ;
 top: 75%;
 left: 5%;
 height: 4rem;
 width: 10rem;
 background-color: #a59e9e62;
 border-radius: 1rem;
 border: none;
}
.circle{
   height: 2rem;
   width: 2rem;
   background-color: #E6533C;
   border-radius: 1rem;
   margin: 1rem 1rem;
}
.over-btn1-text{
    margin: 1rem 0;
}
.over-btn2{
    position: absolute;
    top: 25%;
    right: 10%;
    height: 5rem;
    width: 9rem;
    background-color: #a59e9e62;
    border-radius: 1rem;
    border: none;
}

/* main starts here */
.main{
    max-width: 1400px;
    height: 2900px;
}
/* habit section starts here */
.habit-section{
    margin: 0 auto;
    width: 80%;
    height: 400px;
}
.habit-section-text{
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
}
.habit-caption{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.habit-pic{
    margin-top: 2rem;
    display: flex;
}
.habit-pic img{
    width: 100%;
    margin-right: 3rem;
    border-radius: 15rem;
}
/* run section starts here */

.run-section{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    background-color: #635d5dcb;
    border-radius: 2rem;
}
.run-text{
    margin: 2rem 2rem;
}
.run-heading{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.run-paragraph{
    margin-bottom: 1.5rem;
}
.run-img{
    margin: 1rem 2rem;
}
.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

/* self section starts here */
.self-section{
    width: 80%;
    height: 500px;
    border: 2px solid tomato;
    margin: 2rem auto;
}

/* bmi section starts here */
.bmi-heading{
    width: 80%;
    margin: 0 auto;
    height: 150px;
    /* border: 2px solid tomato; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.bmi-section{
    width: 99%;
    margin: 0 auto;
    height: 400px;
    background-color: #58575783;
    display: flex;
}
 .bmi-table{
    margin: 2rem 2rem;
    width: 40%; 
}
.table-heading{
    color: #FFFFFF;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
}
.th-content{
    height: 50px;
    width:150px
}
.td-content{
    height: 40px;
    padding: 0 1rem;
    color:#eee7e7b4 ;
}

.bmi-calculator{
    height: 300px;
    width: 60%;
    margin-top: 2.7rem;
}
.Calculate-text{
    margin-bottom: 1.2rem;
}
.Calculate-btn{
    background-color: #E6533C;
    font-weight: 400;
    font-size: 1rem;
    width:200px;
    height:50px;
    color: #FFFFFF;
    border-radius: 1rem;
    border: none;
}
#input{
   background-color:#585252;
   height: 1.5rem;
}
::placeholder{
    color:#eee7e7b4 ;
    margin-left: 1rem;
}
#sex{
    height: 1.5rem;
    width: 11rem;
    background-color: #585252;
    color:#eee7e7b4;
}
#factor{
    height: 1.5rem;
    width: 22rem;
    background-color: #585252;
    color: #eee7e7b4;
}

/* team section starts here */

.team-heading{
    width: 80%;
    height: 150px;
    /* border: 2px solid navy; */
    margin: 3rem auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.team-meet{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 3rem;
}
.team-pic{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 0 auto;
    background-color: #585252;
    border-radius: 2rem;
} 

.team-img-container{
    display: grid;
    place-items: center;
    position: relative;
}

.team-img-container img{
    width:90%;
    height: 85%;
    border-radius: 2rem;
}
.over-img-2{
  position: absolute;
  bottom: 13%;
  left: 9%;
}
.over-img{
    position: absolute;
    bottom: 20%;
    left: 9%;
}

/* footer starts here */
.footer{
    height: 300px;
    /* width: 100%; */
    background-color: #585252;
}

.footer-child{
    width: 80%;
    height: 250px;
    margin: 0.5rem auto;
    /* border: 2px solid tomato; */
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid bisque;
}
.fitness-text{
    color: #E6533C;
    font-weight: 1000;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.list-heading{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.list-items{
    color: #eee7e7b4;
    /* text-decoration: none; */
    list-style: none;
}
.copyright{
    height: 50px;
    width: 80%;
    /* border: 2px solid yellow; */
    margin: 0 auto;
    display: grid;
    place-items: center;
}